body{
    width: 1000px;
    margin:auto;
  }

#banner{
    outline: 1px solid blue;
}

#logo {
     width: 10%;
     height: 10%;
     padding: 20px;
     outline: 1px solid red;
     display: inline-block;
}

#name{
    display: inline-block;
    outline: 1px solid green;
}