body{
    width: 1000px;
    margin:auto;
  }

.header{
    width: auto;
    display: block;
    background-color: #17a2b8;
    padding: 6px;
    margin: 0 auto;
}

#logo {
     width: 10%;
     height: 10%;
     padding: 10px;
     display: inline-block;
}

#name{
    display: inline-block;
    margin-left: 300px;
    padding-bottom: 30px;
    font-family: Arial, sans-serif;
}