body{
    background-color: #f3f3f3;
  }

.header{
    width: auto;
    display: block;
    background-color: white;
    padding: 6px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#instructions{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
     width: 8%;
     height: 8%;
     padding: 8px;
     display: inline-block;
}

#name{
    display: inline-block;
    color:#19B2B2;
    font-family: Arial, sans-serif;
   
}